<html>
<head>
    <title>HipChat Configuration</title>
    <meta name="decorator" content="atl.admin" />
</head>
<body>
<form action="config" method="post" class="aui">
    <h2>HipChat API Auth Token Configuration</h2>

    <p>
        JIRA accesses HipChat through the HipChat API. This API is protected by an API token. To request an
        API token, go to <a href="https://hipchat.com/admin/api" target="_blank">HipChat's API Auth Token
        page</a> then
        generate an <b>Admin</b> token. Copy and paste that token to the field below.
    </p>

    <div class="field-group">
        <label for="hipChatAuthToken">Admin Token<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
        <input id="hipChatAuthToken" class="text" type="text" name="hipChatAuthToken" value="$hipChatAuthToken"/>
    </div>

    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit" value="Save"/>
        </div>
    </div>
</form>
</body>
</html>